<?xml version='1.0' encoding='utf-8'?>
<settings>
    <autoconnect>COM5</autoconnect>
    <baudrate>115200</baudrate>
    <camera_preview>1</camera_preview>
    <camera_update_rate_ms>100</camera_update_rate_ms>
    <camera0_gain>12</camera0_gain>
    <camera1_geometry>808x661+1421+586</camera1_geometry>
    <camera0_geometry>891x731+969+173</camera0_geometry>
    <camera0_exposure>10000.0</camera0_exposure>
    <camera0_exposure_log>1</camera0_exposure_log>
    <camera1_exposure>794.3282347242813</camera1_exposure>
    <camera1_gain>14</camera1_gain>
    <camera1_exposure_log>1</camera1_exposure_log>
    <camera_sweep_snap_rate_ms>20</camera_sweep_snap_rate_ms>
</settings>